.sticky-topbar {
	width: 100%; 
}

.menu .menu-text {
	color: #FF8844; 
	font-size: 200%; 
}

.bluebkg {
	background-color: #4A90E2;
	color: white;
	padding: 5.00rem; 
	text-align: center; 
	border: 0px none;	
}

.graybkg {
	background-color: black;
	color: white;
	padding: 5.00rem; 
	text-align: center; 
	border: 0px none;
}

.middle {
	text-align: center;
}

.middleme {
	text-align: center;
	background-color: #FF8844; 
	color: white;
}

